<!-- Modal header -->
<div class="modal-header modal-header-error">
  <!-- Title -->
  <span class="modal-title">{{ title }}</span>
</div>
<!-- Modal body -->
<div class="modal-body">
  <div class="row">
    <!-- Icon -->
    <div class="col-lg-3">
      <i class="fas fa-exclamation-triangle modal-error-icon"></i>
    </div>
    <!-- Content -->
    <div class="col-lg-9">
      <span class="modal-error-font-color"> {{ message }}</span>
    </div>
  </div>
</div>
<!-- Modal footer -->
<div class="modal-footer">
  <button nbButton size="small" status="primary" (click)="closeCommand(true)">
    OK
  </button>
</div>
